@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: nbgR;
    src: url(../font/NanumBarunGothic.otf)
}
/* font-family: nbgR, sans-serif; */
/* font-family: "Noto Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
ul,ol,li{
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: top;
    border: none;
}
a{
    text-decoration: none;
    color: #000;
}
.wrap{
    width: 100%;
    height: auto;
}
/* header, footer */
#header{
    width: 100%;
    height: 80px;
}
/* #header.on{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background: #f8f8f8;
    z-index: 100;
} */
#header .headIn{
    width: 1250px;
    height: 80px;
    margin: 0 auto;
}
#logo{
    width: 146px;
    height: 36px;
    float: left;
    margin: 30px 0 0px 108px;
}

#nav{
    /* width: 757px; */
    height: 80px;
    line-height: 80px;
    float: right;
    margin-right: 114px;
    text-align: center;
    /* background: #fff;   */
    font-size: 0;  
}
/* inline-block방법 : 자간/계단현상 처리*/

#nav>ul>li{
   display: inline-block;
   position: relative;
   font-size: 16px;
}
#nav>ul>li>a{
   display: block;
   padding: 0 33px;
}
#nav .sub{
    display: none;
    position: absolute;  
    /* width: 100%;  */
    width: 200px;
    height: auto;
    line-height: 40px;
    font-size: 13px;
    text-align: left;
    background: #fff;
    z-index: 100;
}
#nav .sub a{
    display: block;
    padding: 5px 10px;

}
#nav>ul>li>a:hover{
    color: #09f;
}
#nav>ul>li.on>a{
    color: #09f;
    border-bottom: 2px solid #09f;
}
#nav .sub a:hover{
    background: #09f;
    color: #fff;
}
/* footer */
#footer{
    height: 317px;
    background: #383838;
    padding: 43px 0  60px;
}
#footer .footIn{
    width: 1250px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
#footer .sns{
   margin-bottom: 41px;
}
#footer .sns a{
    font-size: 24px;
    color: #fff;
    padding: 0 20px;
}
#footer .text{
    height: 155px;
    color: #fff;
    font-size: 12px;
}
#footer .text .text_top{
    height: 43px;
    margin-bottom: 23px;
}
#footer .text .text_top p:first-child{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
#footer .text .text_top p:last-child{
    font-size: 13px;
}