@charset "utf-8";
.main{
    height: 760px;
}
/* .main.on{
    margin-top: 80px;
} */
.slideWrap{
    width: 100%;
    height: 760px;
    position: relative;
    left: 0; top: 0;
    overflow: hidden;
}
.slide ul{
    width: 800%;
    height: 760px;
    position: absolute;
    left: 0; top: 0;
}
.slide li{
    float: left;
    width: 12.5%;
    height: 760px;
}
.slide li img{
    width: 100%;
    height: 760px;
    object-fit: cover;
}
.slideWrap .arrow a{
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    background: rgba(255,255,255,.5);
    padding: 10px 20px;
}
.slideWrap .arrow a.left{
    left: 30px;
}
.slideWrap .arrow a.right{
    right: 30px;
}
.slideWrap .rolling{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;

}
.slideWrap .rolling li{
    float: left;
}
.slideWrap .rolling li a{
    display: block;
    width: 50px;
    height:5px;
    margin: 0 20px;
    text-indent: -9999px;
    background: #fff;
}
.slideWrap .rolling li.on a{
    background: #09f;
}
#section{
    width: 1250px;
    height: auto;
    margin: 0 auto;
}
#section .content1{
    height: 110px;
    margin: 72px 0 90px;
    text-align: center;
    color: #ababab;
    overflow: hidden;
}
.content1>div{/*이전*/
    transform: translateY(110px);
    transition: all 1s;
}
.content1>div.on{/*이후*/
    transform: translateY(0);
}
.content1 p{
    font-size: 26px;
    line-height: 1.6;
    font-family: nbgR, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.content1 span{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 300;
}
#section .content2{
    height: 503px;
    padding-bottom: 63px;
}
.content2 .box{
    width: 396px;
    height: 440px;
    float: left;
    margin-right: 30px;
}
.content2 .box:last-child{
    margin-right: 0;
}
.content2 .imgB{
    width: 396px;
    height: 300px;
    overflow: hidden;
}
.content2 .imgB img{
    width: 396px;
    height: 300px;
    object-fit: cover;
    transition: all .5s;/*이전속성에 적는다*/
    transform: scale(1);
}
.content2 .imgB img:hover{
    transform: scale(1.2);    
}
.content2 .txtB{
    width: 396px;
    height: 140px;
    padding: 33px 0;
    text-align: center;
}
.content2 .title{
    font-family: nbgR, sans-serif;
    font-size: 18px;
    color: #5d5d5d;
}
.content2 .txtB p{
    font-size: 12px;
    margin-top: 15px;
    line-height: 1.6;
    color: #737373;
}
#section .content3{
    border-top: 1px solid #ccc;
    height: 428px;
    padding-bottom: 30px;
}
.content3 .title{
    height: 55px;
    line-height: 55px;
    font-family: nbgR, sans-serif;
}
.content3 .video>div{
    width: 610px;
    height: 343px;
    margin-right: 30px;
    float: left;
    overflow: hidden;
    background: url(../images/cont3_1.jpg) no-repeat center/cover;
}
.content3 .video>div:last-child{
    margin-right: 0;
    background-image: url(../images/cont3_2.jpg);
}
#section .content4{
    border-top: 1px solid #ccc;
    padding:  36px 0 75px;
    text-align: center;
}
.content4 .cont ul{
    height: auto;
    /* margin-bottom: 10px; */
    overflow: hidden;
}
.content4 .cont ul:nth-child(2),
.content4 .cont ul:nth-child(3),
.content4 .cont ul:nth-child(4){
    display: none;
}
.content4 .cont ul li{
    float: left;
}
.content4 .cont ul li a{
    display: block;
    width: 305px;
    height: 305px;
    border: 1px solid #e5e7eb;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.content4 .cont ul li:nth-child(4n) a{
    margin-right: 0;
}
.content4 .cont ul li a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    background: transparent;
    transition: all .5s;    
}
.content4 .cont ul li a:hover:after{
    background: rgba(0,0,0,.5);
}
.content4 .more{
    margin-top: 13px;
}
.content4 .more a{
    display: inline-block;
    width: 76px;
    height: 37px;
    line-height: 37px;
    background: #09f;
    color: #fff;
}